h1 {
    margin-left: 50px;
  }
  
  .color {
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 12px;
  }
  
  table {
    margin-left: 40px;
    margin-bottom: 10px;
  }
  
  table tr td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
  }

  .black {
    background-color: rgb(0, 0, 0);
}

  .violet{
      background-color: rgb(148,0,211);
  }
  
  .pink {
      background-color: rgb(255,20,147);
  }
  
  .gold {
      background-color: rgb(255,215,0);
  }
  
  .pixel {
    height: 40px;
    width: 40px;
  }

  .button{
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    height: 20px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(83, 231, 14);
    padding: 6px;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-left: 120px;
  }
  