body {
  background-image: url(./peb.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    font-family: monospace;
    margin-left: 360px;
    color: white;
  }
  
  .color {
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }
  
  #color-palette{
    margin-left: 330px;
  }
  table {
    margin-left: 200px;
    margin-bottom: 10px;
  }
  
  table tr td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
  }

  .black {
    background-color: rgb(0, 0, 0);
}

  .red {
      background-color: rgb(220,20,60);
  }
  
  .white {
      background-color: rgb(255, 255, 255);
  }
  
  .gold {
      background-color: rgb(255,215,0);
  }
  
  .pixel {
    height: 50px;
    width: 50px;
  }

  .button{
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(255,215,0);
    padding: 6px;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-left: 430px;
  }
  